@import 'common';

//국내 
.domestic-business {
	.equip {
		.details {
			  p {
				font-size: 14px;
				line-height: 22px;
				font-weight: normal;
				@media (min-width: 768px) {
					font-size: 16px;
					line-height: 26px;
				}
			}
		}
		.equip-list {
			font-size: 14px;
			line-height: 22px;
			margin-top: 25px;
			margin-bottom: 150px;
			color: #234ea2;
		}
	}
}
































